<!--
Repo Viewer
Displays search results to show many details about each repo returned.
-->
<template>
  <div
    :class="{'mx-1 my-4': $vuetify.breakpoint.xsOnly, 'ma-4': $vuetify.breakpoint.smAndUp}"
  >
    <div v-if="loading">
      <div class="progress pt-5">
        <v-progress-circular indeterminate color="primary" />
      </div>
    </div>
    <div v-else-if="searchInit">
      <div v-if="pageCount > 1" class="pb-4">
        <div class="text-xs-center">
          <v-pagination
            v-model="pageLocal"
            :length="pageCount"
            :total-visible="7"
          ></v-pagination>
        </div>
      </div>
      <div v-for="repo in repos" :key="repo.id">
        <repo-card :repo="repo" />
      </div>
    </div>
    <div v-else>
      <v-icon size="300" color="rgba(0, 0, 0, 0.1)">search</v-icon>
    </div>
  </div>
</template>

<script>
import helperMethods from '../mixins/helper-methods';
import repoCard from './repo-card';

export default {
  components: {
    repoCard,
  },
  name: 'repoViewer',
  mixins: [
    helperMethods,
  ],
  props: {
    searchInit: {
      type: Boolean,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    repos: {
      type: Array,
      required: true,
    },
    repoCount: {
      type: Number,
      required: true,
    },
    page: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      maxSearchResults: 1000,
      pageLength: 30,
    };
  },
  computed: {
    pageLocal: {
      get() {
        return this.page;
      },
      set(page) {
        this.$emit('setPage', page);
      },
    },
    maxPages() {
      return Math.ceil(this.maxSearchResults / this.pageLength);
    },
    pageCount() {
      return this.repoCount > this.maxSearchResults
        ? this.maxPages
        : Math.ceil(this.repoCount / this.pageLength);
    },
  },
};
</script>

<style scoped>
</style>
