<!--
Repo Issues
List of all issues with pagination
-->
<template>
  <div>
    <div v-if="loading">
      <div class="progress mb-4">
        <v-progress-circular indeterminate color="primary" />
      </div>
    </div>
    <div v-else>
      <div v-if="pageCount > 1" class="pb-4">
        <div class="text-xs-center">
          <v-pagination
            v-model="issuePage"
            @input="setPage"
            :length="pageCount"
            :total-visible="7"
          ></v-pagination>
        </div>
      </div>
      <div v-for="issue in issues" :key="issue.id">
        <repo-issue
          :issue="issue"
        />
      </div>
    </div>
  </div>
</template>

<script>
import repoIssue from './repo-issue';
import helperMethods from '../mixins/helper-methods';

export default {
  name: 'repoIssues',
  components: {
    repoIssue,
  },
  mixins: [
    helperMethods,
  ],
  props: {
    repoName: {
      type: String,
      required: true,
    },
    issueCount: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      issues: {},
      loading: false,
      issuePage: 1,
      maxSearchResults: 1000,
      pageLength: 30,
    };
  },
  computed: {
    maxPages() {
      return Math.ceil(this.maxSearchResults / this.pageLength);
    },
    pageCount() {
      return this.issueCount > this.maxSearchResults
        ? this.maxPages
        : Math.ceil(this.issueCount / this.pageLength);
    },
  },
  methods: {
    getIssues(repo, page) {
      this.loading = true;
      this.getRepoIssues(repo, page).then((response) => {
        this.loading = false;
        this.issues = response;
      });
    },
    setPage() {
      this.getIssues(this.repoName, this.issuePage);
    },
  },
  created() {
    this.getIssues(this.repoName, 1);
  },
};
</script>

<style scoped>
</style>
