<!--
Repo Card
Individual repo result with details and place for issues to display
-->
<template>
  <v-layout class="pb-3">
    <v-flex sm12 md10 lg8 offset-md1 offset-lg2>
      <v-card>
        <v-card-title class="px-4">
          <div class="text-xs-left">
            <h3 v-if="repo.name" class="headline pb-2">{{ repo.name }}</h3>
            <div v-if="repo.description">{{ repo.description }}</div>
            <span v-if="repo.forks_count" class="iconGroup pr-4 pt-4">
              <v-icon class="pr-2">fas fa-code</v-icon>Lang: {{ repo.language }}
            </span>
            <span v-if="repo.forks_count" class="iconGroup pr-4 pt-4">
              <v-icon class="pr-2">fas fa-code-branch</v-icon>Forks: {{ repo.forks_count }}
            </span>
            <span v-if="repo.stargazers_count" class="iconGroup pr-4 pt-4">
              <v-icon class="pr-2">fas fa-star</v-icon>Stars: {{ repo.stargazers_count }}
            </span>
            <span v-if="repo.watchers" class="iconGroup pt-4">
              <v-icon class="pr-2">fas fa-eye</v-icon>Watchers: {{ repo.watchers }}
            </span>
            <span v-if="repo.watchers" class="iconGroup pt-4">
              <v-icon class="pr-2">error</v-icon>Open Issues: {{ repo.open_issues_count }}
            </span>
          </div>
        </v-card-title>
        <v-card-actions class="pr-4">
          <v-btn flat color="primary" @click="openURL(repo.html_url)">
            <span class="hidden-xs-only">View on&nbsp;</span>github
          </v-btn>
          <v-btn v-if="repo.homepage" flat color="primary" @click="openURL(repo.homepage)">
            <span class="hidden-xs-only">View&nbsp;</span>homepage
          </v-btn>
          <v-spacer></v-spacer>
          <template v-if="repo.open_issues_count > 0">
            <span class="pr-2">
              <span class="hidden-xs-only">Show {{ repo.open_issues_count }}</span>
              <span>{{ repo.open_issues_count === 1 ? 'Issue' : 'Issues' }}</span>
            </span>
            <v-btn icon @click="show = !show">
              <v-icon color="primary">
                {{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
              </v-icon>
            </v-btn>
          </template>
        </v-card-actions>
        <v-slide-y-transition>
          <v-card-text v-show="show" class="px-0">
            <repo-issues
              v-if="show"
              :issueCount="repo.open_issues_count"
              :repoName="repo.full_name"
            />
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import repoIssues from './repo-issues';
import helperMethods from '../mixins/helper-methods';

export default {
  name: 'repoCard',
  components: {
    repoIssues,
  },
  mixins: [
    helperMethods,
  ],
  props: {
    repo: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      show: false,
    };
  },
  methods: {
    openURL(url) {
      window.open(url, '_blank');
    },
  },
};
</script>

<style scoped>
  .iconGroup {
    display: inline-block;
    min-width: 165px;
  }
</style>
