<!--
Repo Issue
Individual issue with details
-->
<template>
  <div class="issueRow mx-4 py-2 text-xs-left">
    <v-layout>
      <v-flex xs10>
        <div>{{ issue.title }}</div>
        <div v-if="issue.html_url">
          <a :href="issue.html_url" target="_blank">{{ issue.html_url }}</a>
        </div>
      </v-flex>
      <v-flex xs2 align-self-center class="text-xs-right">
        <span class="pr-1">{{ issue.comments }}</span>
        <v-icon right>comment</v-icon>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>

export default {
  name: 'repoIssue',
  props: {
    issue: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
  .issueRow {
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }
  .stateIndicator {
    margin-right: 8px;
    padding: 2px 4px;
    text-align: center;
    color: white;
  }
  .stateIndicator.red {
    background: red;
  }
  .stateIndicator.green {
    background: darkgreen;
  }
</style>
