<!--
Git repo search app
Application facilitates searching for and displaying the
details of github repos.
-->
<template>
  <v-app id="app" standalone class="app">
    <app-header @searchRepo="searchRepo" />
    <repo-viewer
      :searchInit="searchInit"
      :loading="loading"
      :repos="repos"
      :repoCount="repoCount"
      :page="page"
      @setPage="setPage"
    />
  </v-app>
</template>

<script>
import appHeader from './components/global/app-header';
import repoViewer from './components/repo-viewer';
import helperMethods from './mixins/helper-methods';

export default {
  name: 'App',
  components: {
    appHeader,
    repoViewer,
  },
  mixins: [
    helperMethods,
  ],
  data() {
    return {
      searchInit: false,
      loading: false,
      repos: [],
      repoCount: 0,
      page: 1,
      currentQuery: '',
    };
  },
  methods: {
    searchRepo(query, page) {
      this.page = page;
      this.currentQuery = query;
      if (query) {
        this.searchReposByName(this.currentQuery, this.page).then((response) => {
          this.repos = response.items;
          this.repoCount = response.total_count;
        });
      } else {
        this.page = 1;
        this.repoCount = 0;
        this.repos = [];
      }
    },
    setPage(page) {
      this.page = page;
      this.searchRepo(this.currentQuery, this.page);
    },
  },
};
</script>

<style src="./styles/vuetify.min.css"></style>

<style>
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
