<!--
App Header
Header with search bar which submits search to github api.
-->
<template>
  <v-toolbar dark flat>
    <v-toolbar-title class="hidden-sm-and-down">Git Explorer</v-toolbar-title>
    <v-text-field
      v-model="searchTerm"
      label="Search"
      placeholder="Search for a git repo"
      solo
      hide-details
      single-line
      @keydown.native.enter="searchRepo"
    ></v-text-field>
    <v-toolbar-items>
      <v-btn icon @click="searchRepo">
        <v-icon>search</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  name: 'appContainer',
  data() {
    return {
      searchTerm: '',
    };
  },
  methods: {
    searchRepo() {
      this.$emit('searchRepo', this.searchTerm, 1);
    },
  },
};
</script>

<style scoped>
  .v-toolbar__title {
    margin-right: 16px;
  }
</style>
